* {
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  width: 100vw;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.header {
  color: #ffffff;
  position: relative;
  display: flex;
  height: 70vh;
  min-height: 20rem;
  justify-content: center;
  align-items: center;
}
.header__video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 70vh;
  min-height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.header__home-anchor {
  position: absolute;
  left: 1.25rem;
  top: 1.25rem;
  font-size: 1.5rem;
  color: #ffffff;
}
.header__heading {
  margin: 0 1rem;
  text-align: center;
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .header__heading {
    font-size: 5rem;
  }
}
.header__search-container {
  display: flex;
  flex-wrap: wrap;
}
.header__search {
  width: 90%;
  box-sizing: border-box;
  margin: 1.5rem auto 0 auto;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: 1px solid #333333;
  padding: 0.5rem;
  outline: none;
  text-align: center;
}
@media (min-width: 768px) {
  .header__search {
    flex: 2;
    padding: 0.75rem;
    width: 38vw;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-align: left;
  }
}
.header__submit-btn {
  width: 90%;
  box-sizing: border-box;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: 1px solid #333333;
  outline: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem auto 0 auto;
  background-color: #555;
  color: #ffffff;
}
@media (min-width: 768px) {
  .header__submit-btn {
    width: auto;
    margin: 1.5rem auto 0 auto;
    padding: 0.75rem 2rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
  }
}
.header__submit-btn:hover {
  background-color: #333333;
}
.header__submit-btn:active {
  background-color: #777;
}
.header__form {
  position: relative;
}
.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__error {
  position: absolute;
  bottom: -7rem;
  width: 60%;
  margin-left: 10%;
  background-color: white;
  color: black;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  opacity: 0;
  transition: all 0.4s;
}
.header__error--fade-in {
  opacity: 1;
}

.footer {
  padding-top: 2rem;
  background-color: #333333;
  color: #ffffff;
}
.footer__container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}
.footer__column {
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .footer__column--narrow {
    width: 30%;
  }
}
.footer__icon {
  font-size: 5rem;
  margin-top: 1rem;
  color: #777;
}
.footer__header {
  margin: 0;
}
.footer__subheading {
  margin-bottom: 0.5rem;
}
.footer__details {
  margin: 0;
}
.footer__links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer__link {
  margin-bottom: 0.75rem;
}
.footer__link-icon {
  color: #777;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
.footer__social {
  color: #ffffff;
  font-size: 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.footer__social:hover {
  color: #777;
}
.footer__copy {
  border-top: 1px solid #777;
  padding: 2rem 0;
  font-size: 0.75rem;
}
@media (min-width: 768px) {
  .footer__copy {
    text-align: center;
  }
}

.main__title {
  text-align: center;
  margin: 1.5rem 0 2rem 0;
  font-size: 2.5rem;
  font-weight: 500;
}

.genres {
  width: 90%;
  margin: 0 auto;
}
.genres__cards {
  width: 100%;
  height: 53vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.genres__card {
  width: 30%;
  height: 15vw;
  position: relative;
}
.genres__image {
  width: 100%;
  height: 15vw;
  position: relative;
}
.genres__title-container {
  width: 100%;
  height: 15vw;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 2;
  perspective: 3000px;
  transform-style: preserve-3d;
  transition: all 0.4s;
}
.genres__title-container--slide {
  transform: rotateX(70deg) rotateZ(-60deg) translate3d(-120px, 0px, 70px);
  box-shadow: -80px 60px 15px 5px rgba(0, 0, 0, 0.4);
  transform-style: preserve-3d;
  transition: all 0.4s;
}
.genres__title {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.25rem 0.5rem;
}
.genres__display-movies {
  position: relative;
  top: 10vw;
  left: 18vw;
}

.posters {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}
.posters__poster-container {
  width: 30%;
  height: 35vw;
  margin-bottom: 2vw;
  box-sizing: border-box;
}
.posters__plot {
  font-size: 1.25rem;
}
.posters__label {
  margin: 1rem 1.5rem 0 1.5rem;
  font-weight: 700;
}
.posters__value {
  margin: 0.15rem 1.5rem 0 2.5rem;
}
.posters__box-office {
  margin: 1rem 1.5rem 0 1.5rem;
}
.posters__rating {
  margin: 1rem 1.5rem 0 1.5rem;
}
.posters__poster {
  height: 100%;
  width: 100%;
}

.posters__poster-container {
  background-color: transparent;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.posters__card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.posters__poster-container:hover .posters__card-inner {
  transform: rotateY(180deg);
}

.posters__card-back {
  padding: 1rem;
  box-sizing: border-box;
}

/* Position the front and back side */
.posters__card-front, .posters__card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.posters__card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.posters__card-back {
  background-color: #777;
  color: white;
  transform: rotateY(180deg);
}/*# sourceMappingURL=index.css.map */